.btn {
    margin: 20px;
    padding: 20px 25px;
    font-size: 85px;
    line-height: 85px;
    box-shadow: 10px 10px 10px 10px rgba(108, 117, 125, 1);
    border-radius: 5px;
    border: rgba(108, 117, 125, 1);
    transition: .5s all;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
        background-color: rgba(255, 255, 255, .5);
        color: rgba(108, 117, 125, 1);
        text-shadow: 3px 3px 1px rgba(0, 0, 0, .7);
    }
}